body{
  display: flex;
  flex-direction: column;
}
.hero1 {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 20px;
    margin: 20px 0;
  }

  .hero1 h1 {
    font-size: 30px;
    text-align: left;
  }
  .contenido {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  .cont-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    width: 60%;
  }

  .calendario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .calendario h3{
    font-size: 20px;
  }
  
  .muscular {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 200px;
    background-color: white;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    gap: 20px;
  }

  .muscular.active{
    box-shadow: 0 0 10px 0 rgb(217, 255, 0);
  }

  .muscular:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .muscular.active:hover {
    box-shadow: 0 0 10px 0 rgb(100, 117, 0);
  }

  .cont-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
  .ejerci {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: 200px;
    max-width: 200px;
  }
  .ejerci h4 {
    font-size: 15px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    height: 70px;
  }
  .img-ejerci {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .img-ejerci img {
    max-width: 100%;
    height: 150px;
  }
  .cantidad {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .cantidad p {
    padding: 5px 10px;
    color: white;
    background-color: black;
    border-radius: 15px;
  }
  .descripcion {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
  }

  footer{
    display: flex;
  }

  #back-arrow{
    width: 30px;
    height: 30px;
    rotate: 180deg;
    cursor: pointer;
  }

  #rutina-title-container{
    display: flex;
    flex-direction: row;
  }
